.header {
    display: grid;
  align-items: center;
  padding: 16px 0;
  height: 80px;
  border: 1px solid #E0DFDE;
  text-align: center;
  font-family: serif;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1512px;
}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}